.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  width: 1100px;
  margin: auto;
}

.card-product {
  justify-content: center;
  align-content: center;
  color: black;
  background-color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product-image {
  display: flex;
  object-fit: cover;
  height: 260px;
  width: 240px;
}

.card-product-name {
  font-size: 20px;
  font-weight: 600;
}

.card-product-price {
  font-size: 20px;
  font-weight: medium-bold;
  text-align: right;
}

.card-product-stock {
  text-align: right;
  font-size: 12px;
}
