// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 100px;
//   width: 1100px;
//   margin: auto;
// }

// .card-product {
//   background-size: cover;
//   background-position: center;
//   height: 250px;
//   justify-content: center;
//   align-items: center;
//   color: black;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .card-product-image {
//   height: 160px;
// }

// .card-product-name {
//   font-size: 16px;
// }

// .card-product-price {
//   font-size: 18px;
//   font-weight: medium-bold;
// }

// .card-product-address {
//   font-size: 10px;
// }

// .card-product-stock {
//   text-align: center;
//   font-size: 8px;
// }

.gallery-card{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.content-card{
  width: 100%;
  margin: 16px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  padding-top: 12px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.25),
  0 12px 12px rgba(0,0,0,0.22);
  transition: .4s;
  background: #f2f2f2;




  .card-product-image{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  h3{
    text-align: center;
    font-size: 32px;
    margin: 0;
    padding-top: 12px;
  }

  p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
  }

  h6{
    font-size: 24px;
    text-align: center;
    color: #222f3e;
    margin: 0;
  }

  button{
    text-align: center;
    font-size: 24px;
    color: #F6ECA9;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 4px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #11235A;
  }
}

.content-card:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.16),
  0 4px 8px rgba(0,0,0,0.23);
  transform: translate(0px, -8px);
}

@media(max-width:1000px){
  .content-card{
    width: 45%;
  }

}

@media(max-width:750px){
  .content-card{
    width: 100%;
  }

}

.card-product-image{

}
