// Specific CSS for your home-page


.h1 {
  text-align: center;
  font-size: 68px;
  color: #11235A;
  margin-top: 100px;
}

.h2 {
  text-align: center;
  font-size: 68px;
  color: #11235A;
  margin-top: 100px;
}



.card-category {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

.img-home {
width: 1000px;
height: 500px;
// margin: 40px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
display: flex;
}

.img-cell {
width: 200px;
height: 190px;
border-radius: 50%;
}

.card-cell {
text-align: center;
}

.img-acc {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  }

.card-acc {
  text-align: center;
}

.img-not {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  }

.card-not {
  text-align: center;
}

.img-cad {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  }

.card-cad {
  text-align: center;
}

.margin-top-100{
  margin-top: 100px;
}


.item-carousel{
  max-height: 60vh;
}

@media(max-width: 1000px) {
  .container-home{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;

    img{
    object-fit: cover;
    overflow: hidden;
    }
  }
}
