.btn-gui {
 font-size: 18px;
  color: #F6ECA9;
  background-color: #596FB7;
  padding: 10px 20px;
  border: #000000;
  border-radius: 3px;
}

.btn-gui:hover {
  color: #000000;
  background: #F6ECA9;
}
