<!-- Footer -->
<footer class="footer text-center">
  <!-- Grid container -->
  <div class="container p-3">

<!-- Section: Links  -->
  <section class="links">
    <div class="container text-center text-md-start mt-3 d-flex justify-content-center">
      <!-- Grid row -->
      <div class="container col-xl-8 row mt-2">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-1 align-items">
          <!-- Content -->
          <a href="#">
            <i class="fa-solid fa-box d-flex justify-content-center"></i>
            <h6 class="text-uppercase text-center fw-bold mt-2">
              Verifique o status da sua compra
            </h6>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-1">
          <!-- Content -->
          <a href="#">
            <i class="fa-solid fa-truck d-flex justify-content-center"></i>
            <h6 class="text-uppercase text-center fw-bold mt-2">
              Entrega
            </h6>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-1">
          <!-- Content -->
          <a href="#">
            <i class="fa-solid fa-right-left d-flex justify-content-center"></i>
            <h6 class="text-uppercase text-center fw-bold mt-2">
              Troca e Devolução
            </h6>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-1">
          <!-- Content -->
          <a href="#">
            <i class="fa-solid fa-people-group d-flex justify-content-center"></i>
            <h6 class="text-uppercase text-center fw-bold mt-2">
              Quem somos
            </h6>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  </div>
  <!-- Grid container -->
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  <!-- Experience -->
  <div class="copyright text-center p-1">
   Como foi a sua experiência? <a class="text-reset fw-bold" href="#">Nos dê seu feedback!</a>
  </div>
  <!-- Experience -->
  <!-- Copyright -->
  <div class="copyright text-center p-3 fw-bold" style="background-color: rgba(0, 0, 0, 0.05);">
   © 2024 Eletronics Market. Todos os direitos reservados.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
