<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% @products.each do |product| %>
  <p><%= product.name %> price: <%= product.price %> description: <%= product.price %> etc..</p>
<% end %>
