.footer {
  background-color: #596FB7;
}

.footer {
 .links {
    i {
      font-size: 48px;
      color: #11235A;
      }
    h6{
      color: white;
    }
  }
  i {
    color: #11235A;
    font-size: 24px;
  }
  .copyright {
    color: white;
  }
}
