<div class="container">
<h2 class="text-color-azul margin-top-100 h2"><strong>Seus Produtos a Venda</strong></h2>
  <div class="gallery-card-jairo">
    <%= render 'shared/card', products: @products %>
  </div>
</div>
