.item-card {
  display: flex;
  height: 520px;
  width: 800px;
  margin: 0 auto;
  gap: 20px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.25),
  0 12px 12px rgba(0,0,0,0.22);
  background: #f2f2f2;

  img {
    // height: 100%;
    max-height: 80%;
    max-width: 580px;
  }
}

.product-card-jairo-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 500px;
  gap: 24px;
  background-color: #FFF;
  padding: 24px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.25),
  0 12px 12px rgba(0,0,0,0.22);
  .img-carousel{
  
    object-fit: contain;
    width: 100%;
    object-position: center;
  }
}


// .item-img {
//   flex-grow: 1;

// }

.color-gui {
  color: #11235A;
  font-size: 20px;
  text-align: right;
}

.item-info {
  flex-grow: 1;
}

.product-page-title {
  margin: 36px auto;
  text-align: center;
}

.product-similar {
  text-align: center;
}

.botao-compra{
  width: 100%;
}

#cacete{
  color:#f2f2f2;
  background-color: rgb(16, 84, 62);
  font-weight: bolder;
  transition: 0.5s;
}
#cacete:hover{
  background-color: rgb(25, 163, 117);
  box-shadow: 0 2px 4px rgba(0,0,0,0.16),
  0 2px 4px rgba(0,0,0,0.23);
}

.carousel-img {
  width: 400px;

  .carousel-item img {
    object-fit: contain;
  }
}
// @media 900px
@media(max-width:900px){
  .product-card-jairo-2{
    grid-template-columns: 1fr;
    height: 100vh;
  }

}
