
.log-in{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.wrapper{
  width: 420px;
  background: transparent;
  border: 2px solid #11235A;;
    // backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #11235A;;
  border-radius: 10px;
  padding: 30px 40px;

  h2{
  font-size: 36px;
  text-align: center;
  font-weight: 700;

  }
  .form-actions{
  background-color: #596FB7;
  margin: 0 20%;
  border-radius: 40px;
  text-align: center;
    input{
      color: #F6ECA9;
      font-weight: 700;
    }

    input:hover{
      color: black;
      font-weight: 700;
    }
  }

  .form-actions:hover{
      color: #11235A;
      font-weight: 900;
      background-color:  #F6ECA9;
  }

  a{
    text-decoration: none;
    color: #11235A;
    margin-top: 8px;
  }
  a:hover{
    color: #aaa05f;
  }
}

.espaçamento{
  display: flex;
  gap: 20px;
}
